.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  flex-direction: row;
  padding: 1rem;
}

.card {
  width: calc(33.33% - 20px);
  margin-bottom: 20px;
  background-color: #f5f5f5;
  border-radius: 8px;
  padding: 16px;
  box-shadow:2px 2px 4px 4px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
}
.card .title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.title .actions {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 10px;
}

.title .copy {
  background-color: green;
  border-radius: 50%;
  width: 15px;
  height: 15px;
}
.title .remove {
  background-color: red;
  border-radius: 50%;
  width: 15px;
  height: 15px;
}
.hover-message {
  position: fixed;
  top: 12%;
  right: 10px; /* Adjust as needed */
  background-color: #007C7C;
  color: white;
  padding: 1rem 2rem;
  border-radius: 0.5rem;
  z-index: 9999;
  box-shadow: 4px 4px 6px 4px rgba(139, 189, 251, 0.3); /* Add shadow for depth */
  overflow: hidden; /* Hide overflow content */
  animation: slideIn 0.5s forwards, fadeOut 2s 1.5s forwards; /* Apply animations */
}


@keyframes slideIn {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.editor {
  display: flex;
}

code {
  max-width: 22vw;
  background: #263238;
  color: #eff;
  padding: 0.8rem 3rem;
  font-size: 14px;
  margin: 0.4rem;
  position: relative;
  border-radius: 0.25rem;
  counter-reset: step;
  counter-increment: step 0;
  transition: background 0.3s;
  outline: none;
}
code:focus {
  background: #2e3d44;
}
code p.snippetGetCode {
  position: relative;
  margin: 0.2rem;
  font-family: monospace;
  display: block;
  white-space: pre;
  overflow: scroll;
  width: 22vw;
  height: 15rem;
}
code p.snippetGetCode::-webkit-scrollbar {
  width: 2px;
  height: 2px; /* Width of the scrollbar */
}

code p.snippetGetCode::-webkit-scrollbar-thumb {
  background-color: #888; /* Color of the scrollbar thumb */
}

code p.snippetGetCode::before {
  position: absolute;
  top: 0;
  left: -2rem;
  color: #50646d;
  user-select: none;
  content: counter(step);
  counter-increment: step;
}

@media (max-width: 1400px) {
  .cards {
    flex-direction: column;
    justify-content: center;
    align-items: center; /* Adjust the width for even smaller screens */
  }
  .card {
    width: calc(80% - 20px);
  }

  code {
    max-width: 100vw;
  }
  code p.snippetGetCode {
    overflow: scroll;
    width: 56vw;
    height: 15rem;
  }
}
