body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f7f7f7;
}

.container {
  width: 300px;
  padding: 20px;
  margin: auto;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: center;
  color: #333;
}

.input-group {
  margin-bottom: 15px;
}

input[type="text"],
textarea {
  width: 80%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  margin: 4px;
}

button {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background-color: #0056b3;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin-bottom: 5px;
  padding: 10px;
  background-color: #f4f4f4;
  border-radius: 5px;
  margin: 5px;
}
.delete-icon {
  float: right;
  color: #ff0000;
  cursor: pointer;
}

.delete-icon:hover {
  text-decoration: underline;
}
.titleNameLI {
  font-size: 16px;
  font-weight: bold;
}

.view-icon,
.copy-icon {
  float: right;
  padding-left: 2rem;
  color: blue;
  font-weight: 400;
}
.snippetBox {
  padding: 5px;
  min-width: 250px;
  max-width: 250px;
  overflow-x: auto;
}

.settings {
  text-decoration: none;
  padding: 8px;
  background-color: #007bff;
  color: #fff;
  text-align: right;
  float: right;
  font-size: 10px;
  width: 14%;
  border-radius:0;
}

.hover-message {
  position: fixed;
  top: 12%;
  right: 10px; /* Adjust as needed */
  background-color: #007C7C;
  color: white;
  padding: 1rem 2rem;
  border-radius: 0.5rem;
  z-index: 9999;
  box-shadow: 4px 4px 6px 4px rgba(139, 189, 251, 0.3); /* Add shadow for depth */
  overflow: hidden; /* Hide overflow content */
  animation: slideIn 0.5s forwards, fadeOut 2s 1.5s forwards; /* Apply animations */
}


@keyframes slideIn {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}