body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f7f7f7;
}

.container {
  width: 300px;
  padding: 20px;
  margin: auto;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: center;
  color: #333;
}

.input-group {
  margin-bottom: 15px;
}

input[type="text"],
textarea {
  width: 80%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  margin: 4px;
}

button {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background-color: #0056b3;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin-bottom: 5px;
  padding: 10px;
  background-color: #f4f4f4;
  border-radius: 5px;
  margin: 5px;
}
.delete-icon {
  float: right;
  color: #ff0000;
  cursor: pointer;
}

.delete-icon:hover {
  text-decoration: underline;
}
.titleNameLI {
  font-size: 16px;
  font-weight: bold;
}

.view-icon,
.copy-icon {
  float: right;
  padding-left: 2rem;
  color: blue;
  font-weight: 400;
}
.snippetBox {
  padding: 5px;
  min-width: 250px;
  max-width: 250px;
  overflow-x: auto;
}

.settings {
  text-decoration: none;
  color: black;
  float: right;
}

.hover-message {
  position: fixed;
  top: 80%;
  left: 80%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
  padding: 10px;
  border-radius: 5px;
  display: inline-block;
  z-index: 9999;
}
